* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

/********Header-Section Style***********/
.header-banner {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(86, 67, 67);
}

.header-banner img {
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
}

#title {
    color: rgb(233, 224, 224);
    font-size: 32px;
    margin-left: 10px;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    position: relative;

}

.menu li a:hover {
    text-decoration: underline 4px tomato;
    font-size: larger;
}

.menu li {
    list-style: none;
    width: 150px;
    height: 45px;
    background-color: rgb(86, 67, 67);
    float: left;
    line-height: 40px;
    position: relative;
    margin-left: 55px;
}

.menu {
    width: 100%;
    height: 45px;
    background-color: rgb(86, 67, 67);
}

.menu ul {
    display: none;
}

.menu li:hover ul {
    display: block;
}

/*********Program-Section Style***********/
#program-title {
    margin-top: 82px;
    text-align: center;
    color: #5c2f1a;
}

.program-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 35px;
}

.program {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-left: 25px;
    margin-right: 25px;
}

.program:hover {
    box-shadow: 0 0 15px rgb(37, 36, 36);
}

.program img {
    height: 200px;
    border-radius: 10px;
}

.program h4 {
    margin-top: 20px;
}

.duration {
    color: rgb(40, 39, 39);
    font-size: 16px;
}

.program button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(86, 67, 67);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
}

.program button:hover {
    opacity: 0.6;
}

/*********Best-Section Style***********/
#sec-title {
    margin-top: 195px;
    text-align: center;
    color: #5c2f1a;
}

.best-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}

.best {
    width: 280px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-left: 25px;
    margin-right: 25px;
}

.best img {
    width: 100px;
    height: 200px;
    position: relative;
    border-radius: 10px;
}

.best p {
    margin-top: 10px;
    font-size: 18px;
}

/*********Upcoming Course & Subscription Setion*********/
.upcoming-sub-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-left: 75px;
    margin-right: 75px;
    padding: 20px;
    margin-top: 155px;
}

.upcoming-sub-container h1 {
    text-align: center;
    color: #5c2f1a;
    line-height: 38px;
    margin-bottom: 35px;
}

.upcoming-section {
    width: 60%;
    padding: 10px;
}

.upcoming-section img {
    border-radius: 10px;
    margin-top: -15px;
}

button {
    margin-top: 20px;
    background-color: rgb(148, 85, 72);
    padding: 6px 10px;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
}

.sub-section {
    width: 30%;
    height: 10%;
    margin-top: 100px;
    margin-left: 40px;
    padding: 40px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

#iemail {
    font-size: larger;
    margin-left: 5px;
    background-color: antiquewhite;
}

#sub-btn {
    margin-top: 20px;
    margin-left: 220px;
    background-color: rgb(148, 85, 72);
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
}

/*********Details Part Style**********/
.details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #5c2f1a;
    color: white;
    margin-top: 75px;
    padding-top: 20px;
    justify-content: space-evenly;
}

.info-title {
    margin-bottom: 15px;
}

.basic-info p {
    margin-top: 3px;
}

.social-icon {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon i {
    color: white;
}

/*******Footer Style********/
footer {
    width: 100%;
    height: 50px;
    background-color: #5c2f1a;
    color: whitesmoke;
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
}