body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    background-image: url(../Images/Reg&Log_cover.jpg);
    background-size: cover;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-title {
    width: 720px;
    margin-left: 268px;
    border: 1px solid black;
    background-color: rgb(97, 49, 16);
}

h1 {
    width: 50%;
    height: 40px;
    color: blanchedalmond;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(97, 49, 16);
    padding: 12px;
}

h5 a {
    text-decoration: none;
    color: deepskyblue;
    font-size: 17px;
}

h5 i {
    color: deepskyblue;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 17px;
}

table {
    margin: 0 auto;
    background-color: rgb(8, 8, 8, 0.5);
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 30px;
}

tr,
td {
    padding: 5px;
}

#sub-btn {
    margin-left: 300px;
    margin-top: 20px;
    background-color: rgb(148, 85, 72);
    padding: 7px 10px;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
}

#sub-btn:hover {
    cursor: pointer;
    background-color: rgb(120, 143, 184);
}

#ha_section-1 {
    color: lavender;
    font-weight: bold;
}

#ha_section-2 {
    color: deepskyblue;
    font-weight: bold;
    text-decoration: none;
}

#ha_section-2:hover {
    font-size: 19px;
}

td span {
    color: red;
    font-size: smaller;
}